[alias]
	st = status
[difftool]
    prompt = true
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[user]
	email = kirby88@pm.me
	name = Jul
